<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes">
<!--listeners>
<listener class-name="Academy.Listeners"/>
</listeners-->

  <test name="Validating Verizon">
    <classes>
      <class name="docker.Docker_setup"/>
      <class name="docker.Docker"/>
      <!--class name="docker.Docker2"/>
      <class name="docker.Docker3"/-->
      <class name="docker.Docker4"/>
          </classes>
      </test>
      
   
   <!-- Test -->
</suite> <!-- Suite -->
